.listitem{
	width: 315px;
	height: 160px;
	background-color: var(--main-color);
	margin-right: 5px;
	overflow: hidden;
	cursor: pointer;
	color: white;
 	z-index: -1;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.iteminfo {
		display: flex;
		flex-direction: column;
		padding: 5px;
		align-items: flex-start;
	}
	&:hover{
		margin-top: -80px;
		width: 390px;
		height: 350px;
 		top: 150px;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
		box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
		border-radius: 5px;
		
		img{
			height: 150px;
		}
	
	.iteminfotop{
		display: flex;
	}
	.iteminfo span{
		color: gray;
		margin-bottom: 10px;
		margin-left: 9px;

	}
	.icons{
		padding: 3px;
		font-size: 15px; 
	}
	.icon{
		margin: 0px 4px;
		margin-bottom: 7px;
		padding: 2px;
		border: 2px solid #fff;
		border-radius: 50%;
	}
	.desc{
		margin-top: -10px;
		margin-left:-4px;
		width: 100%;
		font-size: 19px;
		padding: 10px;
	}
	.limit{
		border:1px solid gray ;
		padding: 0px 3px;
  	}
	.genre{
		margin-bottom: -10px;
	}
}

 }
 
 




